.navbar .header-inner { max-width: 100%;}
.wp-custom-header .wp-custom-header-video-button { display: none}
body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
	max-height: 100px;
}

.has-header-image.home.blog .headroom--not-top .navbar, .has-header-image.inspiro-front-page .headroom--not-top .navbar, .has-header-video.home.blog .headroom--not-top .navbar, .has-header-video.inspiro-front-page .headroom--not-top .navbar {
	background-color: #000;
}

.flex-container {
	display: flex;
	justify-content: center;
	gap: 3em;
}

.left-container {
	display: flex;
    flex-direction: column;
    gap: 2em;
	max-width: 428px;
}

.site-info {
	display: none;
}

.page .entry-cover-image, .single .entry-cover-image {
	max-height: 545px;
}


.wp-block-cover {
	background-position: 0px 70px;
	min-height: 500px !important;
}

 .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .social-media .icon .bi {
        font-size: 2em;
    color: #ed2224;
}

.social-media-container h3 {
    text-align: center;
    margin-bottom: .5em;
    font-size: 1.5rem;
    color: #fff;
}

.card {
	border: 1px solid #ccc;
    padding: 1em;
}

.wp-block-button.is-style-outline a:hover {
	background-color: #000;
	border-color: #000;
	color: #fff;
}


.container {
      max-width: 90%;
	margin: 0 auto 2em;
      display: flex;
      flex-direction: column;
	gap: 1.5rem;
	
    }

    .class {
      min-width: 100%;
      display: flex;
      gap: 5em;
      align-items: center;
      margin: 0 auto;
      border: 1px solid #f3f3f3;
      padding: 1em;
      box-shadow: 1px 3px 5px #333;
    }

    .class-img {
			max-width: 350px;
      width: 100%;
      height: auto;
    }

    .class-btn {
      border: 1px solid #000;
      padding: 1em;
      background-color: transparent;
      color: #000;
      text-decoration: none !important;
    }

.class-btn:hover {
	background-color: #000;
	color: #fff !important;
	transition: .25s;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1em
}

.text {
	max-width: 350px;
}

.entry-content {
	max-width: 1440px !important;
	margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    .class {
        flex-direction: column;
        gap: 2em;
    }
    
    .button-center {
        text-align: center;
    }
}